<header class="bg-gray-800 text-white px-6 py-4 flex items-center justify-between shadow">
  <div class="text-xl font-semibold">LeetCode Progress</div>
  <nav class="space-x-4">
    <a routerLink="/" routerLinkActive="text-yellow-400 underline" [routerLinkActiveOptions]="{ exact: true }"
      class="hover:text-yellow-300 transition">
      Home
    </a>
    <a routerLink="/total" routerLinkActive="text-yellow-400 underline" class="hover:text-yellow-300 transition">
      Total
    </a>
  </nav>
</header>

<main class="">
  <router-outlet></router-outlet>
</main>