<div *ngIf="isLoading" class="flex justify-center mt-4">
  <mat-spinner></mat-spinner>
</div>

<div class="max-w-4xl mx-auto px-4 py-4 bg-white shadow-lg rounded-lg">
  <form (ngSubmit)="onSubmit()">
    <h2 class="text-2xl font-semibold text-center mb-2">Settings</h2>
    <div class="flex justify-center">
      <mat-form-field>
        <mat-label> email </mat-label>
        <input
          matInput
          type="email"
          id="email"
          name="email"
          disabled
          [(ngModel)]="userSettings.email"
        />
      </mat-form-field>
    </div>
    <div class="flex justify-center">
      <mat-form-field>
        <mat-label> username </mat-label>
        <input
          matInput
          type="username"
          id="username"
          name="username"
          disabled
          [(ngModel)]="userSettings.username"
        />
      </mat-form-field>
    </div>
    <div class="flex justify-center">
      <mat-form-field>
        <mat-label> preferred username </mat-label>
        <input
          matInput
          type="preferred_username"
          id="preferred_username"
          name="preferred_username"
          required
          [(ngModel)]="userSettings.preferredUsername"
        />
      </mat-form-field>
    </div>
    <div class="flex justify-center">
      <mat-form-field>
        <mat-label> leetcode username </mat-label>
        <input
          matInput
          type="leetcode_username"
          id="leetcode_username"
          name="leetcode_username"
          required
          [(ngModel)]="userSettings.leetcodeUsername"
        />
      </mat-form-field>
    </div>
    <div class="flex justify-center">
      <button mat-button type="submit">Update Settings</button>
    </div>
  </form>
</div>
